{% extends "index.html" %}
{% load static %}{% load i18n  %}
{% block title %}Contact{% endblock %}
{% block extrahead %}
{% endblock %}
{% block content %}
<!-- Heading Row-->
  <div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-sm-12">
      <div class="card h-100">
        <div class="card-header text-center">
          <h1 class="font-weight-light">Contactez nous</span></h1>
        </div>
        <div class="card-body col-sm-12">
            {% if form.errors %}
                <div class="row alert bg-danger">
                {{ form.errors }}
                </div>
            {% endif %}
            {% if message %}
                <div class="row alert alert-primary">
                    <p>Votre message a été envoyé avec succès. Merci</p>
                </div>
            {% endif %}
            <form class="row g-3" method="post" action="{% url 'contact'  %}">{% csrf_token %}
            <div class="col-md-6">
              <label class="form-label" for="nom">Nom</label>
              <input type="text" class="form-control" name="nom" required {% if form.nom.value %}value="{{ form.nom.value }}"{% else %}placeholder="Nom"{% endif%}/>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="prenom">Prénom</label>
              <input type="text" class="form-control" name="prenom" required {% if form.prenom.value %}value="{{ form.prenom.value }}"{% else %}placeholder="Prénom"{% endif%}/>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="message">Votre Message</label>
              <textarea class="form-control" name="message" required {% if form.message.value %}>{{ form.message.value }}{% else %}placeholder="Votre message ici ..." >{% endif%}</textarea>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="telephone">Téléphone</label>
              <input type="phone" class="form-control" name="telephone" {% if form.telephone.value %}value="{{ form.telephone.value }}"{% else %}placeholder="Téléphone"{% endif%} />
            </div>
            <div class="col-md-6">
              <label class="form-label" for="email">E-Mail</label>
              <input type="email" class="form-control" name="email" {% if form.email.value %}value="{{ form.email.value }}"{% else %}placeholder="E-Mail"{% endif%} required/>
            </div>
        </div>
        <div class="card-footer col-sm-12 text-center">
          <div class="col-sm-12 btns-form text-center">
            <button class="btn btn-danger gras" type="reset">Annuler</button>
            <button class="btn btn-primary gras" type="submit">Valider</button>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
