{% extends "index.html" %}
{% load static %}{% load l10n %}
{% block extrahead %}
<style>
</style>
{% endblock %}
{% block content %}
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    {% if message %}
    <div class="col-sm-12">
        <p class="alert alert-primary bg-primary alertmsg">Votre demande d'inscription à la formation est bien enregistrée. Merci</p>
    </div>
    {% endif %}
    <div class="col-sm-3 mx-50 px-20"></div>
    <div class="col-sm-6 mx-50 px-20">
        <div class="card h-100 col-sm-12">
            <h5 class="card-header gras">Rechercher une formation</h5>
            <div class="card-body">
                <form class="form" action="{% url 'formations-list' %}" method="get">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" name="search_formation" placeholder="Saisir le nom de la formation ...." aria-label="Rechercher" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Code Formation</th>
                    <th>Sujet</th>
                    <th>Date Début</th>
                    <th>Date Fin</th>
                    <th>Lieu</th>
                    <th>Nbre de place</th>
                    <th>Places Disponibles</th>
                    <th>Prix</th>
                    <th>Etat</th>
                    <th>Participer?</th>
                </tr>
            </thead>
            <tbody>
                {% for formation in formations %}
                <tr class="gras">
                    <td>{{ formation.code }}</td>
                    <td>{{ formation.sujet }}</td>
                    <td>{{ formation.date_debut|date:"l d M Y" }} {{ formation.date_debut|time:"H:i" }}</td>
                    <td>{{ formation.date_fin|date:"l d M Y" }} {{ formation.date_fin|time:"H:i" }}</td>
                    <td>{{ formation.lieu }}</td>
                    <td>{{ formation.nbre_place }}</td>
                    <td>{{ formation.place_dispo }}</td>
                    <td>{{ formation.prix }}</td>
                    <td><span class="badge {% if formation.etat == 'O' %}bg-success{% elif formation.etat == 'T' %}bg-primary{% else %}bg-danger{% endif %} badge-light">{{ formation.get_etat_display }}</span></td>
                    <td>{% if formation.etat == 'O' %}
                        <a href="{% url 'form-inscription' formation_pk=formation.pk %}" class="badge bg-primary"><i class="fa-solid fa-user-plus">Par Ici</i></a>
                        {% else %}
                        <span class="badge bg-danger">Inscrption fermée</span>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endblock %}
{% block extrascripts %}{% endblock %}
